node_modules
# node
node_modules
*.log

# OS
.DS_Store
Thumbs.db

# Next.js
.next
out

# React Native
android/.gradle
android/app/build
ios/Pods
*.keystore
*.xcworkspace

# Others
.env
.env.*
